@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.title-text {
  font-size: 2.25rem; /* text-4xl */
  font-weight: 800; /* font-extrabold */
  color: #e8f1f2; /* text-yellow-400 */
}

.input-style {
  outline: none; /* focus:outline-none */
  box-shadow: 0 0 0 2px #1b98e0; /* focus:ring-2 focus:ring-purple-500 */
  background-color: rgba(232, 241, 242, 0.5); /* bg-opacity-50 */
  color: #13293d; /* text-blue-900 */
  background-color: #e8f1f2;
}

.title-text-posts {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  margin-bottom: 0.5rem; /* mb-2 */
  color: #13293d; /* text-yellow-400 */
}

.dark-blog {
  background-color: #13293d;
}

.white-blog {
  background-color: #e8f1f2;
}
.white-text-blog {
  color: #e8f1f2;
}

.dark-text-blog {
  color: #13293d;
}

.color-1 {
  background-color: rgb(150, 75, 0);
}
.color-2 {
  background-color: rgb(176, 120, 64);
}
.color-3 {
  background-color: rgb(203, 165, 128);
}
.color-4 {
  background-color: rgb(229, 210, 191);
}
.color-5 {
  background-color: rgb(255, 255, 255);
}
